.map {
  height: 100vh;
}

.map-main-box {
  position: relative;
  width: 100%;
  height: calc(100vh - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.map-container {
  width: 100%;
}

.map-header {
  position: relative;
  height: 70px;
  background-color: #fff;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.map-header__logo-side {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.map-header__logo {
  color: #039dff;
  font-size: 25px;
  font-weight: bold;
}
.map-header__right-side {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 15px;
}
.map-header__btn {
  border: none;
  background: none;
  padding: 5px 7px;
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.map-header__btn:hover {
  background-color: rgba(128, 128, 128, 0.2);
}
.map-header__btn-link {
  position: relative;
  display: none;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}
.map-header__btn-link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 3px;
  width: 100%;
  background-color: #039dff;
}
.map-header__user-profile-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.map-header__user-modal {
  position: absolute;
  bottom: -50px;
  right: 10px;
  background-color: #fff;
  width: 300px;
  z-index: 100;
  padding: 10px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .map-header {
    padding: 0 50px;
  }
  .map-header__logout-btn {
    display: none;
  }
  .map-header__btn-link {
    display: block;
  }
}
.list {
  position: absolute;
  left: -100%;
  top: 0;
  width: 320px;
  background-color: #fff;
  height: 100%;
  z-index: 10;
  padding: 10px 5px;
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
}
.list__main-btns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}
.list__main-btn {
  background: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
}
.list__main-btn--active {
  position: relative;
  color: #039dff;
}
.list__main-btn--active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 3px;
  width: 100%;
  background-color: #039dff;
}

.list-show {
  left: 0;
}

@media (min-width: 576px) {
  .list {
    width: 400px;
  }
}
.search-cities {
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.search-cities__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}
.search-cities__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
  padding: 10px;
  cursor: pointer;
}
.search-cities__city:hover {
  background-color: #ddd;
}
.search-cities__city--selected {
  border: 2px solid #039dff;
}
.search-cities__city-name {
  font-size: 18px;
}
.search-cities__city-title {
  margin-right: 5px;
}
.search-cities__input {
  width: 100%;
  padding: 8px 16px;
  margin-bottom: 15px;
  font-size: 15px;
}
.search-cities__search-btn {
  margin-bottom: 15px;
  display: block;
  width: 100%;
  background-color: #039dff;
  color: #fff;
  padding: 8px;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.search-cities__search-btn:hover {
  background-color: hsl(203, 100%, 45%);
}
.search-cities__search-btn:disabled {
  background-color: hsl(203, 100%, 20%);
  cursor: not-allowed;
}
.search-cities__new-city-btn {
  display: block;
  width: 100%;
  background-color: #039dff;
  color: #fff;
  padding: 8px;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.search-cities__new-city-btn:hover {
  background-color: hsl(203, 100%, 45%);
}
.search-cities__new-city-btn:disabled {
  background-color: hsl(203, 100%, 20%);
  cursor: not-allowed;
}

.notification, .notification-error {
  position: fixed;
  top: 80px;
  left: -100%;
  z-index: 100;
  width: 200px;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  -webkit-transition: left 0.7s ease-in-out;
  transition: left 0.7s ease-in-out;
}
.notification__time-status, .notification-error__time-status {
  margin-top: 15px;
  height: 5px;
  width: 0;
  background-color: #fff;
  border-radius: 8px;
  -webkit-animation: time-status 3s 0.7s forwards;
          animation: time-status 3s 0.7s forwards;
}

.notification {
  background-color: #218c74;
}

.notification-error {
  background-color: #ff0000;
}

.show-notification {
  left: 5px;
}

@-webkit-keyframes time-status {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes time-status {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.visited-cities {
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.visited-cities__input {
  width: 100%;
  padding: 8px 16px;
  margin-bottom: 15px;
  font-size: 15px;
}
.visited-cities__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 20px;
  overflow-y: auto;
  margin-bottom: 10px;
}
.visited-cities__content-message {
  text-align: center;
  font-size: 18px;
}
.visited-cities__text-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding: 5px;
}
.visited-cities__place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
  cursor: pointer;
}
.visited-cities__place:hover {
  background-color: #eee;
}
.visited-cities__place--selected {
  border: 2px solid #EE4B2B;
}
.visited-cities__place-name {
  font-size: 22px;
}
.visited-cities__place-type {
  font-size: 19px;
}
.visited-cities__place-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.visited-cities__place-text {
  font-size: 17px;
  color: #262626;
}
.visited-cities__delete-place-btn {
  display: block;
  width: 100%;
  background-color: #EE4B2B;
  color: #fff;
  padding: 8px;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.visited-cities__delete-place-btn:hover {
  background-color: hsl(0, 100%, 40%);
}
.visited-cities__delete-place-btn:disabled {
  background-color: hsl(0, 100%, 30%);
  cursor: not-allowed;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=index.css.map */