@use "../abstract/variables" as *;
@use "../abstract/colors" as *;
@use "../abstract/mixins" as *;

.map-header {
    height: $map-header-height;
    background-color: #fff;
    padding: 0 15px;
    display: flex;

    &__logo-side {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__logo {
        color: $main-color;
    }

    &__right-side {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__btn {
        border: none;
        background: none;
        padding: 5px 7px;
        border-radius: 50%;
        font-size: 22px;
        cursor: pointer;
        transition: background-color .2s;

        &:hover {
            background-color: rgb(128, 128, 128, 0.2);
        }
    }

    &__btn-link {
        position: relative;
        display: none;
        border: none;
        background: none;
        font-size: 20px;
        cursor: pointer;

        &:hover::after {
            @include underline;
        }
    }
}

@media (min-width: 768px) {
    .map-header {
        padding: 0 80px;

        &__logout-btn {
            display: none;
        }

        &__btn-link {
            display: block;
        }
    }
}