@use "../abstract/variables" as *;
@use "../abstract/colors" as *;
@use "../abstract/mixins" as *;

.map-header {
    position: relative;
    height: $map-header-height;
    background-color: #fff;
    padding: 0 15px;
    display: flex;

    &__logo-side {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__logo {
        color: $main-color;
        font-size: 21px;
        font-weight: bold;
        text-decoration: none;
    }

    &__right-side {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 15px;
    }

    &__btn {
        border: none;
        background: none;
        padding: 5px 7px;
        border-radius: 50%;
        font-size: 22px;
        cursor: pointer;
        transition: background-color .2s;

        &:hover {
            background-color: rgb(128, 128, 128, 0.2);
        }
    }

    &__btn-link {
        position: relative;
        display: none;
        border: none;
        background: none;
        font-size: 20px;
        cursor: pointer;

        &:hover::after {
            @include underline;
        }
    }

    &__user-profile-img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }

    &__user-modal {
        position: absolute;
        bottom: -50px;
        right: 10px;
        background-color: #fff;
        width: 300px;
        z-index: 100;
        padding: 10px;
        text-align: center;
        border: 1px solid #000;
        border-radius: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (min-width: 768px) {
    .map-header {
        padding: 0 50px;

        &__logout-btn {
            display: none;
        }

        &__btn-link {
            display: block;
        }
    }
}