@use "../abstract/variables" as *;

.map {
    height: 100vh;
}

.map-main-box {
    position: relative;
    width: 100%;
    height: calc(100vh - $map-header-height);
    display: flex;
}

.map-container {
    width: 100%;
}